#WIP{
    margin-left: 25%;
    width: 800px;
    min-height: 700px;
    background-image: url(./Image/work-in-progress.png);
    background-repeat: no-repeat;
}

/* #container{
    width: 850px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
}
#pices-container{
    width: 49%;
    height: 400px;
    border: 2px solid black;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 400px; 
    position: relative;
}
#puzzle-container{
    width: 49%;
    height: 400px;
    border: 2px solid black;
    float: right;

}
.piece{
    width: 102px ;
    height: 98px;
    border: 1px solid black;
    float: left;
    background-image: url(./Image/rsz_monalisa.jpg);
    background-repeat: no-repeat;
}

ul{
    list-style-type: none ;
    text-align: center;
}
ul button{
    width: 100px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 12px;
}
#btn-reset{
    display: none;
} */
